@{
    ViewData["Title"] = "WebDev is Fun and Interactive";
}
<div class="loader"></div>
<header>
    <div class="main_head">
        <div class="title_container">
            <div class="header_title">Web Development</div>
            <div class="header_subtitle">is fun and interactive...</div>
        </div>
    </div>
</header>